<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="connectstring" value="mongodb://localhost:27017"/>
    <!-- <add key="connectstring" value="mongodb://sn0312-w.cloudapp.net:27017,sn0312-w.cloudapp.net:27018,sn0312-w.cloudapp.net:27020/?replicaSet=foo"/> -->
    <!-- <add key="connectstring" value="mongodb://sn0312-c.cloudapp.net:27017,sn0312-c.cloudapp.net:27018,sn0312-c.cloudapp.net:27019/?replicaSet=foo"/> -->
    <add key="dbname" value="firstapp_net"/>
    <add key="locationcollname" value="locations"/>
    <add key="usercollname" value="users"/>
    <add key="checkincollname" value="checkins"/>
  </appSettings>
</configuration>